{
  "extends": ["airbnb", "airbnb/hooks", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "globals": {
    "localStorage": true,
    "fetch": true,
    "window": true
  },
  "rules": {
    "no-var": 1,
    "no-eval": "error",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "comma-dangle": 0,
    "prefer-destructuring": 0,
    "no-console": ["error", { "allow": ["warn", "info"] }],
    "operator-linebreak": "off",
    "import/prefer-default-export": "off",
    "react/jsx-curly-newline": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-wrap-multilines": "off",
    "react/no-array-index-key": "off",
    "semi": [2, "never"]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src/"]
      }
    }
  },
  "env": {
    "browser": true,
    "jest": true
  }
}
